/.idea

###

logs/*
bin/*

###
.phpunit
.phpunit.result.cache
phpunit.xml
docker/data/postgres
tools/php-cs-fixer/

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/framework-bundle ###
/.env.local
/docker/config/.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
